* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button{
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    z-index: 9;
}

button:hover{
    background-color: crimson;
}

button:active{
    scale: 0.95;
}